<!DOCTYPE html>
<html>
    <head>
        <title>收货地址修改格式</title>
        <link rel="stylesheet" href="../static/css/ej.css">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:#fffbf6">
        <div><h4>后接内容：</h4></div>
        <div><input id="post_txt" style="height:30px;width:300px;">
        </div>

        <div><h4>输入收货人信息：</h4>
        <div><textarea id='txt_input' style="height:150px;width:300px;"></textarea></div>
        
        <hr>
        <div><button id="submit" onclick="dealText()">改格式</button></div>
        <div id="result" style="color: #a9474b;"></div>



    <script src="../static/js/common.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const postTxt=document.getElementById('post_txt');
            postTxt.value=' 发货人：团团好果 18077796420'
        });

        function dealText(){
            const postText=document.getElementById('post_txt').value;
            const txtInput=document.getElementById('txt_input').value;
            const resultBox=document.getElementById('result');
            
            // 使用正则表达式匹配信息，并处理格式
            // let result = txtInput.replace(/联系人\n\n([\s\S]+?)\n\n联系电话\n\n([\s\S]+?)\n\n详细地址\n\n([\s\S]+?)\n/g, function(match, name, phone, address) {
            //     return `${name.trim()} ${phone.trim()} ${address.trim()} 发货人：发货人：团团好果 18077796420`;
            // });

            // 判断是否是多个联系人段落的格式
            const isMultipleContacts = txtInput.includes('联系人');
            
            let formattedResult;
            
            if (isMultipleContacts) {
                // 使用正则表达式匹配每段联系人信息，并处理格式
                const result = txtInput.replace(/联系人\n\n([\s\S]+?)\n\n联系电话\n\n([\s\S]+?)\n\n详细地址\n\n([\s\S]+?)(?=\n\n联系人|$)/g, function(match, name, phone, address) {
                    return `${name.trim()} ${phone.trim()} ${address.trim()} ${postText}`;
                });
                
                // 将每段末尾的换行符替换为空字符串
                formattedResult = result.replace(/\n$/gm, '');
            } else {
                // 如果不是多个联系人段落的格式，直接追加发货人信息
                const lines = txtInput.split('\n');
                const formattedLines = lines.map(line => `${line.trim()} ${postText}`);
                formattedResult = formattedLines.join('\n');
            }

            // 使用 textContent 或 innerText 来设置 <div> 元素的文本内容           

            resultBox.innerText=formattedResult;
            resultBox.classList.add('result');

            console.log(result);



        }
    </script>
    </body>